[core]
	autocrlf = input
	pager = less -+FX
	editor = nvim
	askpass = /usr/bin/ksshaskpass

[diff]
	tool = vimdiff

[push]
	default = simple

[user]
	email = jfmcarreira@gmail.com
	name = Joao Carreira
	signingkey = 47EC190BD2F25C46D804B75CA1A2A014A98C9EA3

[http]
	sslVerify = false

[color]
	ui = auto
        status = auto

[color "status"]
        added = green
        changed = cyan
        untracked = magenta
        deleted = red

[credential]
	helper = store

[url "https://chromium.googlesource.com/a/"]
	insteadOf = https://chromium.googlesource.com/
	insteadOf = https://chromium.googlesource.com/a/

[url "zeus.itleiria.pt:~/GITServer/"]
	insteadOf = itcluster:
[url "zeus.itleiria.pt:~/GITServer/"]
	pushInsteadOf = itcluster:

[url "atlas.itleiria.pt:/nfs/data/git_projects/"]
	insteadOf = atlas:
[url "atlas.itleiria.pt:/nfs/data/git_projects/"]
	pushInsteadOf = atlas:

[url "http://anongit.kde.org/"]
	insteadOf = kde:
[url "git@git.kde.org:"]
	pushInsteadOf = kde:

[url "git@github.com:jfmcarreira/"]
  insteadOf = github:
[url "git@github.com:jfmcarreira/"]
  pushInsteadOf = github:

[url "git+ssh://jfmcarreira@git.launchpad.net/"]
  insteadof = lp:

[url "git@jcarreira.pt:jfmcarreira/"]
  insteadOf = selfhosted:
[url "git@jcarreira.pt:jfmcarreira/"]
  pushInsteadOf = selfhosted:

[pull]
  ff = only

[pager]
	branch = false

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[alias]
  co = checkout
  ci = commit

  current = rev-parse --abbrev-ref HEAD

  pto = !CURRENT=$(git current) && git push origin $CURRENT
  pfo = !CURRENT=$(git current) && git pull origin $CURRENT

  sync = !git fetch origin && git reset --hard origin/$(git current)
