[user]
	email = jfmcarreira@gmail.com
	name = Joao Carreira

[push]
	default = simple

[color]
	ui = auto

[credential]
	helper = cache

[url "https://chromium.googlesource.com/a/"]
	insteadOf = https://chromium.googlesource.com/
	insteadOf = https://chromium.googlesource.com/a/

[url "atlas.itleiria.pt:/nfs/data/git_projects/"]
        insteadOf = atlas:
[url "atlas.itleiria.pt:/nfs/data/git_projects/"]
        pushInsteadOf = atlas:

[url "git://anongit.kde.org/"]
	insteadOf = kde:
[url "git@git.kde.org:"] 
	pushInsteadOf = kde: 

[url "git@github.com:jfmcarreira/"]
  insteadOf = github:
[url "git@github.com:jfmcarreira/"]
  pushInsteadOf = github:

[http]
	sslVerify = false
